.response {
  padding: var(--env-spacing-medium);
  background-color: var(--env-section-background-color-05);
  border-radius: var(--env-border-radius-medium);
  max-width: 100%;
  width: fit-content;
  display: flex;
}

.self {
  margin-left: 20%;
  align-self: end;
}
